.register {
  width: 40%;
}

.footer-p {
  margin-top: 100%;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: 5%;
}

html {
  overflow-y: scroll;
}

.footer-p {
  font-size: 15px;
}

.usrnm-pswd {
  font-size: 10px;
  color: white;
  text-align: right;
  margin-right: 50px;
}

.navbar-form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  margin-left: 1000px;
  float: right;
}

.navbar-header {
  margin-top: 15px;
  float: left;
  font-weight: bold;
  text-decoration: none;
}

.nav {
  margin-top: 20px;
}

body {
  background-color: azure;
}

.btn button:hover {
  background: #ccc;
}

* {
  box-sizing: border-box;
}