@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css");

.register {
  width: 40%;
}

.footer-p {
  margin-top: 100%;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: 5%;
}

html {
  overflow-y: scroll;
}

.footer-p {
  font-size: 15px;
}

.container-fluid form {
  position: absolute;
  right: 20px;
  max-width: 500px;
}

.navbar-header {
  margin-top: 15px;
  float: left;
  font-weight: bold;
  text-decoration: none;
}

.nav {
  margin-bottom: 20px;
}

body {
  background-color: azure;
}

.btn button:hover {
  background: #ccc;
}

* {
  box-sizing: border-box;
}