@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css');

.nav-pills-custom>li>a {
	color: lightgrey;
}

.nav-pills-custom>li>a:focus,
.nav-pills-custom>li>a:hover {
	background: none;
	color: grey;
}

.panel-custom>.panel-heading {
	background: none;
	border-bottom: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #337AB7;
}

.form-control-nav{
	background-color:#F0FFFF;
  border: lightgrey solid 1px;
	border-radius:15px;
}

body{
	background-color: #F0FFFF;
}

.navbar-default .navbar-collapse, .navbar-default{
background-color: white;
}

.panel-footer{
	background-color: lightcyan;
}

.well{
	background-color: lightcyan;
}

a{
	color:#60A6C1;
}

.form-control-feedback{
	line-height:27px;
}
.panel-info{
	border:1px lightgrey solid;
}

.profile-photo {
  border-radius: 50%;
  margin-right: 5px;
}

#align-center {
  text-align: center;
}

.back-to-top-p {
  text-align: center;
}

#company-name {
  text-align: center;
  font-weight: bold;
}

.list-inline {
  font-size: 8px;
  color: grey;
}